import { Container } from "typedi";
// import ClassController from "tag-name"
// @todo uncomment code; rename tag-name and ClassController

/**
 * {{summary}}
 *
 * {{method}}: {{& fullPath}}
 * {{#params}}
 * {{groupId}}:
 *   {{#properties}}{{& details}}
 *   {{/properties}}{{/params}}
 */
// const controller = Container.get(ClassController)
// exports.handler = controller.{{id}}.bind(controller)
exports.handler = function {{id}}(req, res, next) {
  res.status(501).send();
}

